<% provide(:title, 'หน้าแรก') %>

<div class="col-xs-12 col-sm-12 col-md-12" id="content">
  <h1>Hello World</h1>
  <%= link_to "All Users", users_path, class: "btn btn-primary" %>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Panel title</h3>
    </div>
    <div class="panel-body">
      Panel content
    </div>
  </div>

</div>
