<div class="container">
<%= fa_icon "camera-retro" %>
<%= fa_icon "chevron-right", text: "Get started", right: true %>
  <h1>Hello World</h1>
  <button type="button" class="btn btn-primary">Primary</button>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Panel title</h3>
    </div>
    <div class="panel-body">
      Panel content
    </div>
  </div>
</div>
