- if logged_in?

  %li.dropdown
    %a.dropdown-toggle{:href => "#", data: {toggle: "dropdown"}, role: "button", aria: {haspopup: "true", expanded: "false"}}
      = gravatar_for(current_user, {size: 25})
      #{current_user.f_name} #{current_user.l_name}
      %span.caret
    %ul.dropdown-menu
      %li
        %a{:href => user_path(current_user)}
          %i.fa.fa-user
          โปรไฟล์ของฉัน
      %li
        %a{:href => "#"} Action 2
      %li
        %a{:href => logout_path, rel: "nofollow", data: {method: "delete"}}
          %i.fa.fa-sign-out
          ออกจากระบบ

- else
  %li
    %a{:href => login_path} เข้าสู่ระบบ

