- if logged_in?

  %li
    %a{:href => user_chart_path(current_user)}
      %i.fa.fa-users
      แผนผังองค์กร

  %li.dropdown
    %a.dropdown-toggle{:href => "#", data: {toggle: "dropdown"}, role: "button", aria: {haspopup: "true", expanded:"false"}}
      Dropdown
      %span.caret
    %ul.dropdown-menu
      %li
        %a{:href => "#"} Action
      %li
        %a{:href => "#"} Another Action
      %li
        %a{:href => "#"} Something else here
      %li.divider{role: "separator"}
      %li.dropdown-header Dropdown header
      %li
        %a{:href => "#"} Sparated link

  %form.navbar-form.navbar-left{:action => "#"}
    .form-group
      %input.form-control{:type => "text", placeholder: "Search"}
    -# %button.btn.btn-info{type: "submit"} Submit

- else
