%nav.navbar.navbar-info

  .container

    .navbar-header

      %button.navbar-toggle.collapsed{type: "button", data: {toggle: "collapse", target: "#navbarContent"}, "aria-expanded" => "false"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => root_path} Brand

    .collapse.navbar-collapse#navbarContent

      %ul.nav.navbar-nav

        %li.active
          %a.nav-link{:href => "#"}
            Link
            %span.sr-only

        %li
          %a{:href => "#"} Link

        %li.dropdown
          %a.dropdown-toggle{:href => "#", data: {toggle: "dropdown"}, role: "button", aria: {haspopup: "true", expanded:"false"}}
            Dropdown
            %span.caret
          %ul.dropdown-menu
            %li
              %a{:href => "#"} Action
            %li
              %a{:href => "#"} Another Action
            %li
              %a{:href => "#"} Something else here
            %li.divider{role: "separator"}
            %li.dropdown-header Dropdown header
            %li
              %a{:href => "#"} Sparated link

      %form.navbar-form.navbar-left{:action => "#"}
        .form-group
          %input.form-control{:type => "text", placeholder: "Search"}
        -# %button.btn.btn-info{type: "submit"} Submit

      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "#"} Link
        %li.dropdown
          %a.dropdown-toggle{:href => "#", data: {toggle: "dropdown"}, role: "button", aria: {haspopup: "true", expanded: "false"}}
            Dropdown
            %span.caret
          %ul.dropdown-menu
            %li
              %a{:href => "#"} Action 1
            %li
              %a{:href => "#"} Action 2
            %li
              %a{:href => "#"} Action 3
